@model DataAccess.Entities.VacationRequest
@{
    ViewBag.Title = "Vacation's Requests";
    Layout = ViewBag.Message;

}
<div id="RequestsPage">
    <a href="NewRequest" class="fancyBtn"><span>New Request</span></a> <a href="RequestsInDraft" class="fancyBtn" id="draftBtn">Draft</a>
    <table id="vacationsRequestsTable" width="100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ID)</th>
                <th>@Html.DisplayNameFor(model => model.VacationType)</th>
                <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                <th>@Html.DisplayNameFor(model => model.VacationDuration)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
<script src="~/js/VacationsRequestsTable4Employee.js"></script>
<script>
    $(document).ready(link2);
</script>